body {
    font-family: Tahoma, Verdana, sans-serif;
}

@keyframes flip {
    0% {
        transform: rotateY(0);
        background-image: none;
    }

    24% {
        background-image: none;
        transform: rotateY(86.4deg);
    }

    25% {
        background-image: url("images/cardback.jpg");
        background-size: 100% 100%;
        transform: rotateY(90deg);
    }

    74% {
        background-image: url("images/cardback.jpg");
        background-size: 100% 100%;
        transform: rotateY(266.4deg);
    }

    75% {
        background-image: none;
        transform: rotateY(270deg);
    }

    100% {
        transform: rotateY(360deg);
        background-image: none;
    }
}

@keyframes flip-hide {
    0% {
        display: initial;
    }

    24% {
        display: initial;
    }

    25% {
        display: none;
    }

    74% {
        display: none;
    }

    75% {
        display: initial;
    }

    100% {
        display: initial;
    }
}

.heart,
.diamond {
    color: red;
}

.spade,
.club {
    color: black;
}

.card {
    position: relative;
    width: 7vw;
    height: 22.5vh;
    border-style: solid;
    border-color: black;
    border-width: 0.2vw;
    border-radius: 0.8vw;
    background-color: white;
    line-height: 22.5vh;
    text-align: center;
    animation-name: flip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.value,
.top-suit,
.bottom-suit {
    animation-name: flip-hide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.value {
    font-size: 6vw;
    animation-name: flip-hide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.top-suit,
.bottom-suit {
    position: absolute;
    font-size: 2vw;
    width: 1.5vw;
    height: 3vh;
    line-height: 3vh;
}

.top-suit {
    left: 0.2vw;
    top: 0.2vh;
}

.bottom-suit {
    right: 0.2vw;
    bottom: 0.6vh;
}
