body {
    background-image: url("images/board.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

p {
    margin: 0;
}

#player-1,
#player-2,
#player-3,
#player-4,
#dealer {
    position: absolute;
    color: white;
    font-size: 2.5vw;
    width: 10vw;
    height: 15vh;
    line-height: 15vh;
}

#player-3 p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

#player-1 {
    bottom: 14vh;
    left: 16.5vw;
    transform: rotate(12deg);
}

#player-2 {
    bottom: 10vh;
    left: 30.5vw;
    transform: rotate(6deg);
}

#player-3 {
    bottom: 5vh;
    left: 45vw;
}

#player-4 {
    bottom: 10vh;
    left: 59.5vw;
    transform: rotate(-6deg);
}

#dealer {
    top: 12vh;
    left: 45.5vw;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

#decision {
    position: absolute;
    color: white;
    font-size: 3vw;
    width: 50vw;
    height: 20vh;
    line-height: 18vh;
    top: 22vh;
    left: 27vw;
    font-weight: bold;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}

.values {
    z-index: 10;
    position: absolute;
    color: white;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
    font-size: 2vw;
    width: 10vw;
    height: 15vh;
    line-height: 0.3vh;
}

#value-1 {
    left: 21vw;
    top: 38vh;
    transform: rotate(12deg);
}

#value-2 {
    left: 33vw;
    top: 41.5vh;
    transform: rotate(6deg);
}

#value-3 {
    left: 45vw;
    top: 42.5vh;
}

#value-4 {
    left: 57vw;
    top: 41.2vh;
    transform: rotate(-6deg);
}

#value-dealer {
    left: 45.5vw;
    top: 25vh;
}

.moves {
    position: absolute;
    color: white;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
    font-size: 2vw;
    width: 10vw;
    height: 15vh;
    line-height: 0.3vh;
    z-index: 10;
}

#move-1 {
    left: 21.5vw;
    top: 34vh;
    transform: rotate(12deg);
}

#move-2 {
    left: 33.2vw;
    top: 37.5vh;
    transform: rotate(6deg);
}

#move-3 {
    left: 45vw;
    top: 38.5vh;
}

#move-4 {
    left: 57vw;
    top: 37.2vh;
    transform: rotate(-6deg);
}

.heart,
.spade,
.club,
.diamond {
    position: absolute;
    width: 3.5vw;
    height: 11.25vh;
    border-style: solid;
    border-color: black;
    border-width: 0.15vw;
    border-radius: 0.4vw;
    background-color: white;
    line-height: 11.25vh;
}

.heart,
.diamond {
    color: red;
}

.spade,
.club {
    color: black;
}

.value {
    font-size: 3vw;
}

.top-suit,
.bottom-suit {
    position: absolute;
    font-size: 1vw;
    width: 0.75vw;
    height: 1.5vh;
    line-height: 1.5vh;
}

.top-suit {
    left: 0.1vw;
    top: 0.1vh;
}

.bottom-suit {
    right: 0.1vw;
    bottom: 0.3vh;
}

.chip {
    position: absolute;
    width: 3.5vw;
    height: 7vh;
}

.chip-img {
    width: 3.5vw;
    height: 7vh;
}

.link {
    position: absolute;
    width: auto;
    font-size: 1.5vw;
}

a {
    display: block;
    text-decoration-line: none;
    color: black;
    padding: 1vh 0.5vh;
    width: 11vw;
    border: 0.3vw solid black;
    border-radius: 0.3vw;
}

a:hover {
    color: white;
    border-color: black;
}
