body {
    background-image: url("board.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

p {
    margin: 0;
}

#player-1, #player-2, #player-3, #player-4 {
    position: absolute;
    color: white;
    font-size: 2.5vw;
    width: 10vw;
    height: 15vh;
    line-height: 15vh;
}

#player-3 p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

#player-1 {
    bottom: 14vh;
    left: 16.5vw;
    transform: rotate(12deg);
}

#player-2 {
    bottom: 10vh;
    left: 30.5vw;
    transform: rotate(6deg);
}

#player-3 {
    bottom: 5vh;
    left: 45vw;
}

#player-4 {
    bottom: 10vh;
    left: 59.5vw;
    transform: rotate(-6deg);
}

.heart, .spade, .club, .diamond {
    position: absolute;
    width: 3.5vw;
    height: 11.25vh;
    border-style: solid;
    border-color: black;
    border-width: 0.15vw;
    border-radius: 0.4vw;
    background-color: white;
    line-height: 11.25vh;
}

.heart, .diamond {
    color: red;
}

.spade, .club {
    color: black;
}

.value {
    font-size: 3vw;
}

.top-suit, .bottom-suit {
    position: absolute;
    font-size: 1vw;
    width: 0.75vw;
    height: 1.5vh;
    line-height: 1.5vh;
}

.top-suit {
    left: 0.1vw;
    top: 0.1vh;
}

.bottom-suit {
    right: 0.1vw;
    bottom: 0.3vh;
}

.chip {
    position: absolute;
    width: 3.5vw;
    height: 7vh;
}

.chip-img {
    width: 3.5vw;
    height: 7vh;
}