body {
    background-image: url("board.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

p {
    margin: 0;
}

#player-1, #player-2, #player-3, #player-4 {
    position: absolute;
    color: white;
    font-size: 2.5vw;
    width: 10vw;
    height: 15vh;
    line-height: 15vh;
}

#player-3 p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

#player-1 {
    bottom: 14vh;
    left: 16.5vw;
    transform: rotate(12deg);
}

#player-2 {
    bottom: 10vh;
    left: 30.5vw;
    transform: rotate(6deg);
}

#player-3 {
    bottom: 5vh;
    right: 45vw;
}

#player-4 {
    bottom: 10vh;
    right: 30.5vw;
    transform: rotate(-6deg);
}