#heart-6 {
  z-index: 1;
  transform: translate(0, 0) rotateY(0) rotate(12deg);
  background-image: none;
  left: 21vw;
  top: 47vh;
}

#spade-7 {
  z-index: 2;
  transform: translate(0, 0) rotateY(0) rotate(12deg);
  background-image: none;
  left: 23vw;
  top: 47.7vh;
}

#spade-9 {
  z-index: 3;
  transform: translate(0, 0) rotateY(0) rotate(12deg);
  background-image: none;
  left: 25vw;
  top: 48.4vh;
}

#diamond-8 {
  z-index: 1;
  transform: translate(0, 0) rotateY(0) rotate(6deg);
  background-image: none;
  left: 33.5vw;
  top: 51vh;
}

#spade-8 {
  z-index: 2;
  transform: translate(0, 0) rotateY(0) rotate(6deg);
  background-image: none;
  left: 35.5vw;
  top: 51.5vh;
}

#diamond-3 {
  z-index: 3;
  transform: translate(0, 0) rotateY(0) rotate(6deg);
  background-image: none;
  left: 37.5vw;
  top: 52vh;
}

#heart-1 {
  z-index: 1;
  transform: translate(0, 0) rotateY(0);
  background-image: none;
  left: 46vw;
  top: 52.5vh;
}

#spade-K {
  z-index: 2;
  transform: translate(0, 0) rotateY(0);
  background-image: none;
  left: 48vw;
  top: 52.5vh;
}

#diamond-J {
  z-index: 1;
  transform: translate(0, 0) rotateY(0) rotate(-6deg);
  background-image: none;
  left: 58.5vw;
  top: 51.5vh;
}

#spade-2 {
  z-index: 2;
  transform: translate(0, 0) rotateY(0) rotate(-6deg);
  background-image: none;
  left: 60.5vw;
  top: 51vh;
}

@keyframes spade-Q-move {
  0% {
    z-index: 1;
    transform: translate(0, -20vh) rotateY(180deg);
    background-image: url("cardback.jpg");
    background-size: 100% 100%;
    left: 50vw;
    top: 5vh;
  }

  0.49% {
    background-image: url("cardback.jpg");
  }

  0.5% {
    background-image: none;
  }

  1% {
    z-index: 3;
    transform: translate(0, 0) rotateY(0) rotate(-6deg);
    left: 62.5vw;
    top: 50.5vh;
  }

  100% {
    z-index: 3;
    transform: translate(0, 0) rotateY(0) rotate(-6deg);
    background-image: none;
    left: 62.5vw;
    top: 50.5vh;
  }
}

@keyframes spade-Q-contents {
  0% {
    display: none;
  }

  0.49% {
    display: none;
  }

  0.5% {
    display: initial;
  }

  100% {
    display: initial;
  }
}

#spade-Q {
  z-index: 1;
  transform: translate(0, 0) rotateY(180deg);
  background-image: url("cardback.jpg");
  background-size: 100% 100%;
  left: 50vw;
  top: 5vh;
  animation-name: spade-Q-move;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#spade-Q span {
  animation-name: spade-Q-contents;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#diamond-6 {
  z-index: 2;
  transform: translate(0, 0) rotateY(0);
  background-image: none;
  left: 48vw;
  top: 3vh;
}

@keyframes heart-A-move {
  0% {
    z-index: 1;
    transform: translate(0, 0) rotateY(180deg);
    background-image: url("cardback.jpg");
    background-size: 100% 100%;
    left: 52vw;
    top: 3vh;
  }

  2% {
    z-index: 1;
    transform: translate(0, 0) rotateY(180deg);
    background-image: url("cardback.jpg");
    background-size: 100% 100%;
    left: 52vw;
    top: 3vh;
  }

  2.49% {
    background-image: url("cardback.jpg");
    background-size: 100% 100%;
  }

  2.5% {
    background-image: none;
  }

  3% {
    transform: translate(0, 0) rotateY(0);
  }

  100% {
    z-index: 1;
    transform: translate(0, 0) rotateY(0);
    background-image: none;
    left: 52vw;
    top: 3vh;
  }
}

@keyframes heart-A-contents {
  0% {
    display: none;
  }

  2.49% {
    display: none;
  }

  2.5% {
    display: initial;
  }

  100% {
    display: initial;
  }
}

#heart-A {
  z-index: 1;
  transform: translate(0, 0) rotateY(180deg);
  background-image: url("cardback.jpg");
  background-size: 100% 100%;
  left: 52vw;
  top: 3vh;
  animation-name: heart-A-move;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#heart-A span {
  animation-name: heart-A-contents;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#chip-2 {
  display: initial;
  left: 35vw;
  bottom: 29vh;
}

@keyframes won-chip-2-move {
  0% {
    display: none;
    left: 50vw;
    bottom: 90vh;
    transform: translate(0, -20vh);
  }

  3% {
    display: initial;
    left: 50vw;
    bottom: 90vh;
    transform: translate(0, -20vh);
  }

  4% {
    left: 34.5vw;
    bottom: 22vh;
    transform: translate(0, 0);
  }

  100% {
    display: initial;
    left: 34.5vw;
    bottom: 22vh;
    transform: translate(0, 0);
  }
}

#won-chip-2 {
  left: 50vw;
  bottom: 90vh;
  transform: translate(0, -20vh);
  animation-name: won-chip-2-move;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes chip-3-move {
  0% {
    display: initial;
    left: 48.2vw;
    bottom: 27.5vh;
    transform: translate(0, 0);
  }

  4% {
    display: initial;
    left: 48.2vw;
    bottom: 27.5vh;
    transform: translate(0, 0);
  }

  5% {
    display: initial;
    left: 50vw;
    bottom: 90vh;
    transform: translate(0, -20vh);
  }

  100% {
    display: none;
    left: 50vw;
    bottom: 90vh;
    transform: translate(0, -20vh);
  }
}

#chip-3 {
  display: initial;
  left: 48.2vw;
  bottom: 27.5vh;
  animation-name: chip-3-move;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes chip-4-move {
  0% {
    display: initial;
    left: 61.5vw;
    bottom: 29vh;
    transform: translate(0, 0);
  }

  1% {
    display: initial;
    left: 61.5vw;
    bottom: 29vh;
    transform: translate(0, 0);
  }

  2% {
    display: initial;
    left: 50vw;
    bottom: 90vh;
    transform: translate(0, -20vh);
  }

  100% {
    display: none;
    left: 50vw;
    bottom: 90vh;
    transform: translate(0, -20vh);
  }
}

#chip-4 {
  display: initial;
  left: 61.5vw;
  bottom: 29vh;
  animation-name: chip-4-move;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes end-link-move {
  0% {
    display: none;
    top: 120vh;
  }

  5% {
    display: none;
    top: 120vh;
  }

  6% {
    display: block;
    top: 87vh;
  }

  100% {
    display: block;
    top: 87vh;
  }
}

#end-link {
  left: 7vw;
  animation-name: end-link-move;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#end-link a {
  background-color: #d3d3d3;
  width: 12vw;
}
