#heart-6 {
    z-index: 1;
    transform: translate(0, 0) rotateY(0) rotate(12deg);
    background-image: none;
    left: 21vw;
    top: 47vh;
}

#spade-7 {
    z-index: 2;
    transform: translate(0, 0) rotateY(0) rotate(12deg);
    background-image: none;
    left: 23vw;
    top: 47.7vh;
}

#spade-9 {
    z-index: 3;
    transform: translate(0, 0) rotateY(0) rotate(12deg);
    background-image: none;
    left: 25vw;
    top: 48.4vh;
}

#diamond-8 {
    z-index: 1;
    transform: translate(0, 0) rotateY(0) rotate(6deg);
    background-image: none;
    left: 33.5vw;
    top: 51vh;
}

#spade-8 {
    z-index: 2;
    transform: translate(0, 0) rotateY(0) rotate(6deg);
    background-image: none;
    left: 35.5vw;
    top: 51.5vh;
}

#diamond-3 {
    z-index: 3;
    transform: translate(0, 0) rotateY(0) rotate(6deg);
    background-image: none;
    left: 37.5vw;
    top: 52vh;
}

#heart-1 {
    z-index: 1;
    transform: translate(0, 0) rotateY(0);
    background-image: none;
    left: 46vw;
    top: 52.5vh;
}

#spade-K {
    z-index: 2;
    transform: translate(0, 0) rotateY(0);
    background-image: none;
    left: 48vw;
    top: 52.5vh;
}

#diamond-J {
    z-index: 1;
    transform: translate(0, 0) rotateY(0) rotate(-6deg);
    background-image: none;
    left: 58.5vw;
    top: 51.5vh;
}

#spade-2 {
    z-index: 2;
    transform: translate(0, 0) rotateY(0) rotate(-6deg);
    background-image: none;
    left: 60.5vw;
    top: 51vh;
}

@keyframes spade-Q-move {
    0% {
        z-index: 1;
        transform: translate(0, -20vh) rotateY(180deg);
        background-image: url("images/cardback.jpg");
        background-size: 100% 100%;
        left: 50vw;
        top: 5vh;
    }

    0.49% {
        background-image: url("images/cardback.jpg");
    }

    0.5% {
        background-image: none;
    }

    1% {
        z-index: 3;
        transform: translate(0, 0) rotateY(0) rotate(-6deg);
        left: 62.5vw;
        top: 50.5vh;
    }

    100% {
        z-index: 3;
        transform: translate(0, 0) rotateY(0) rotate(-6deg);
        background-image: none;
        left: 62.5vw;
        top: 50.5vh;
    }
}

@keyframes spade-Q-contents {
    0% {
        display: none;
    }

    0.49% {
        display: none;
    }

    0.5% {
        display: initial;
    }

    100% {
        display: initial;
    }
}

#spade-Q {
    z-index: 1;
    transform: translate(0, 0) rotateY(180deg);
    background-image: url("images/cardback.jpg");
    background-size: 100% 100%;
    left: 50vw;
    top: 5vh;
    animation-name: spade-Q-move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#spade-Q span {
    animation-name: spade-Q-contents;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#diamond-6 {
    z-index: 2;
    transform: translate(0, 0) rotateY(0);
    background-image: none;
    left: 48vw;
    top: 3vh;
}

@keyframes heart-A-move {
    0% {
        z-index: 1;
        transform: translate(0, 0) rotateY(180deg);
        background-image: url("images/cardback.jpg");
        background-size: 100% 100%;
        left: 52vw;
        top: 3vh;
    }

    2% {
        z-index: 1;
        transform: translate(0, 0) rotateY(180deg);
        background-image: url("images/cardback.jpg");
        background-size: 100% 100%;
        left: 52vw;
        top: 3vh;
    }

    2.49% {
        background-image: url("images/cardback.jpg");
        background-size: 100% 100%;
    }

    2.5% {
        background-image: none;
    }

    3% {
        transform: translate(0, 0) rotateY(0);
    }

    100% {
        z-index: 1;
        transform: translate(0, 0) rotateY(0);
        background-image: none;
        left: 52vw;
        top: 3vh;
    }
}

@keyframes heart-A-contents {
    0% {
        display: none;
        opacity: 0;
    }

    2.49% {
        display: none;
        opacity: 0;
    }

    2.5% {
        display: initial;
        opacity: 1;
    }

    100% {
        display: initial;
        opacity: 1;
    }
}

#heart-A {
    z-index: 1;
    transform: translate(0, 0) rotateY(180deg);
    background-image: url("images/cardback.jpg");
    background-size: 100% 100%;
    left: 52vw;
    top: 3vh;
    animation-name: heart-A-move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#heart-A span {
    animation-name: heart-A-contents;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#chip-2 {
    display: initial;
    left: 35vw;
    bottom: 29vh;
}

@keyframes won-chip-2-move {
    0% {
        display: none;
        left: 50vw;
        bottom: 90vh;
        transform: translate(0, -20vh);
    }

    3% {
        display: initial;
        left: 50vw;
        bottom: 90vh;
        transform: translate(0, -20vh);
    }

    4% {
        left: 34.5vw;
        bottom: 22vh;
        transform: translate(0, 0);
    }

    100% {
        display: initial;
        left: 34.5vw;
        bottom: 22vh;
        transform: translate(0, 0);
    }
}

#won-chip-2 {
    left: 50vw;
    bottom: 90vh;
    transform: translate(0, -20vh);
    animation-name: won-chip-2-move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes chip-3-move {
    0% {
        display: initial;
        left: 48.2vw;
        bottom: 27.5vh;
        transform: translate(0, 0);
    }

    4% {
        display: initial;
        left: 48.2vw;
        bottom: 27.5vh;
        transform: translate(0, 0);
    }

    5% {
        display: initial;
        left: 50vw;
        bottom: 90vh;
        transform: translate(0, -20vh);
    }

    100% {
        display: none;
        left: 50vw;
        bottom: 90vh;
        transform: translate(0, -20vh);
    }
}

#chip-3 {
    display: initial;
    left: 48.2vw;
    bottom: 27.5vh;
    animation-name: chip-3-move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes chip-4-move {
    0% {
        display: initial;
        left: 61.5vw;
        bottom: 29vh;
        transform: translate(0, 0);
    }

    1% {
        display: initial;
        left: 61.5vw;
        bottom: 29vh;
        transform: translate(0, 0);
    }

    2% {
        display: initial;
        left: 50vw;
        bottom: 90vh;
        transform: translate(0, -20vh);
    }

    100% {
        display: none;
        left: 50vw;
        bottom: 90vh;
        transform: translate(0, -20vh);
    }
}

#chip-4 {
    display: initial;
    left: 61.5vw;
    bottom: 29vh;
    animation-name: chip-4-move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes end-link-move {
    0% {
        display: none;
        bottom: -20vh;
    }

    5% {
        display: none;
        bottom: -20vh;
    }

    6% {
        display: block;
        bottom: 15vh;
    }

    100% {
        display: block;
        bottom: 15vh;
    }
}

#end-link {
    left: 10vw;
    animation-name: end-link-move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

a {
    background-color: #d3d3d3;
}


@keyframes value-dealer-1-pop {
    0% {
        opacity: 1;
        display: none;
    }

    87% {
        opacity: 1;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

#value-dealer-1 {
    animation-name: value-dealer-1-pop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes value-dealer-2-pop {
    0% {
        opacity: 0;
    }

    89% {
        opacity: 0;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#value-dealer-2 {
    animation-name: value-dealer-2-pop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

/* Player 2 */
@keyframes move-2-1-pop {
    0% {
        opacity: 1;
    }

    14% {
        opacity: 1;
    }

    17% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
#move-2-1 {
    animation-name: move-2-1-pop;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes move-2-2-pop {
    0% {
        opacity: 0;
    }

    16% {
        opacity: 0;
    }

    19% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
#move-2-2 {
    animation-name: move-2-2-pop;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

/* Player 3 */
@keyframes move-3-1-pop {
    0% {
        opacity: 1;
    }

    18% {
        opacity: 1;
    }
    21% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#move-3-1 {
    animation-name: move-3-1-pop;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes move-3-2-pop {
    0% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    22% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
#move-3-2 {
    animation-name: move-3-2-pop;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
/* Player 4 */
@keyframes value-4-1-pop {
    0% {
        opacity: 1;
    }

    4% {
        opacity: 1;
        display: block;
    }
    5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: block;
    }
}

#value-4-1 {
    animation-name: value-4-1-pop;
    animation-duration: 7.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes value-4-2-pop {
    0% {
        opacity: 0;
        display: none;
    }

    4% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

#value-4-2 {
    animation-name: value-4-2-pop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes move-4-1-pop {
    0% {
        opacity: 0;
        display: none;
    }

    1% {
        opacity: 0;
    }

    2% {
        opacity: 1;
        display: block;
    }

    6% {
        opacity: 1;
    }
    7% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: block;
    }
}

#move-4-1 {
    animation-name: move-4-1-pop;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes move-4-2-pop {
    0% {
        opacity: 0;
        display: block;
    }
    5% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }
}

#move-4-2 {
    animation-name: move-4-2-pop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
