* {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    margin-top: 10px;

}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#main {
    position: relative;
    width: 150vh;
    height: 70vh;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    border-radius: 0 0 100% 100%;
    background-image: url("images/table.jpg");
}
